body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: #efefef;
}

.status {
  margin-bottom: 10px;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
